# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/
.serverless/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
.DS_Store?

# IDE
.idea/
.vscode/
.project
.classpath
.settings/

# Serverless
.serverless/
.webpack/
.dynamodb

# AWS
.aws-sam/

# Logs
logs
*.log
npm-debug.log*

# Optional npm cache directory
.npm

# Misc
*.log
.cache